/*** Scrollbar Styles ***/
.custom-scroll::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Height of the scrollbar (for horizontal scrollbars) */
}
.custom-scroll::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar arrows for WebKit browsers (Chrome, Safari, Edge) */
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #d2d8e5; /* Scrollbar color */
  border-radius: 50px; /* Rounded corners */
}
.custom-scroll::-webkit-scrollbar-track {
  background: #f0f2f7; /* Background of the scrollbar track */
  border-radius: 50px; /* Rounded corners for the track */
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}
/* For Firefox (as of now, customization is limited) */
.custom-scroll {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #d2d8e5 #f0f2f7; /* Thumb color and track color */
}

/* Swiper Arrows Styles */
.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
}

/* Swiper Pagination Styles */
.custom-swiper-pagination {
  position: absolute;
}
.custom-swiper-pagination .swiper-pagination-bullet {
  background-color: white; /* Bullet color */
  width: 6px; /* Bullet size */
  height: 6px;
  border-radius: 50%; /* Make bullets circular */
  opacity: 0.3; /* Bullet opacity */
  transition: background-color 0.3s, transform 0.3s;
}
.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: white; /* Active bullet color */
  opacity: 0.6; /* Bullet opacity */
  transform: scale(1.2); /* Active bullet size */
}

/* Input Number Arrows Styles */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Logo SVG Styles */
.st0 {
  fill: url(#SVGID_1_);
}
.st1 {
  fill: transparent;
}
.st2 {
  fill: url(#SVGID_00000020368997612304128810000016986504743073154444_);
}
.st3 {
  /* opacity: 5e-2;
  fill: #ffffff; */
  display: none;
}
.st4 {
  fill: url(#SVGID_00000118381982514386186140000016853233737379071638_);
}
.st5 {
  fill: url(#SVGID_00000119117652376838577070000012984504407219476124_);
}
.st6 {
  fill: url(#SVGID_00000011744773729027146860000017691151437456022943_);
}
.st7 {
  fill: url(#SVGID_00000052092817324579186970000017949267875462200708_);
}
.st8 {
  fill: url(#SVGID_00000129883965999907263300000013793057938805147523_);
}
.st9 {
  fill: url(#SVGID_00000137109259772796715030000016686799005229459343_);
}
.st10 {
  fill: url(#SVGID_00000049219109896249554830000016842075677771719811_);
}
.st11 {
  fill: url(#SVGID_00000039812267332626309190000014734833646443327928_);
}
.st12 {
  fill: url(#SVGID_00000008148388430242892570000004560717093674528934_);
}
.st13 {
  fill: url(#SVGID_00000178193404282738250090000016169711127025852343_);
}
.st14 {
  fill: url(#SVGID_00000117652768677789435950000012003176450729381535_);
}
.st15 {
  fill: url(#SVGID_00000173875467487450069180000005401094509302057089_);
}
.st16 {
  fill: url(#SVGID_00000172410861739038464180000017039538592522391972_);
}
.st17 {
  opacity: 0.19;
  fill: #ffffff;
}
.st18 {
  fill: url(#SVGID_00000171704747028025706870000006164685568139043209_);
}
.st19 {
  fill: url(#SVGID_00000141442428913855526020000008789482639514409406_);
}
.st20 {
  fill: url(#SVGID_00000116217132983084002950000009421703023801156272_);
}
.st21 {
  fill: url(#SVGID_00000090980213439212657510000015980373239315856775_);
}
.st22 {
  fill: url(#SVGID_00000048482278973679483920000016349331829636702619_);
}
.st23 {
  fill: url(#SVGID_00000158027233036105473350000006856155931510907063_);
}
.st24 {
  fill: url(#SVGID_00000178893310147994508210000016819496157761404321_);
}
.st25 {
  fill: url(#SVGID_00000039835658968097540050000001572666721137262242_);
}
.st26 {
  fill: url(#SVGID_00000001631759808782034160000009608292626359129017_);
}
.st27 {
  fill: url(#SVGID_00000062178716663957399350000011731100158019115145_);
}
.st28 {
  fill: url(#SVGID_00000142159895163474431680000011576336543273720210_);
}
.st29 {
  fill: url(#SVGID_00000142896265497964424800000004818831939017131199_);
}
.st30 {
  fill: url(#SVGID_00000178205715471749194590000008228366247655586985_);
}
/* .st31 {
  fill: #898989;
} */
.st32 {
  fill: #020094;
}
.st33 {
  opacity: 0.14;
}
.st34 {
  fill: #15e2ff;
}
.st35 {
  fill: url(#SVGID_00000049192398545137031610000010472886370699092870_);
}
.st36 {
  fill: url(#SVGID_00000134213103425646869840000013009683128949128369_);
}
.st37 {
  opacity: 0.8786;
  fill: url(#SVGID_00000068637400839649470020000018175782059901036215_);
}
.st38 {
  opacity: 0.7571;
  fill: url(#SVGID_00000018217213416926891960000001090866632375651725_);
}
.st39 {
  opacity: 0.6357;
  fill: url(#SVGID_00000132777200048143659440000009748765297544619413_);
}
.st40 {
  opacity: 0.5143;
  fill: url(#SVGID_00000098211272842250834400000011552317133271653302_);
}
.st41 {
  opacity: 0.3929;
  fill: url(#SVGID_00000064356392275055548980000004113910559627217293_);
}
.st42 {
  opacity: 0.2714;
  fill: url(#SVGID_00000156552893325943046090000003693097804402110610_);
}
.st43 {
  opacity: 0.15;
  fill: url(#SVGID_00000029019747211321418740000014138329588381254305_);
}
.st44 {
  fill: url(#SVGID_00000176749938288005519690000002170450220575324826_);
}
.st45 {
  fill: url(#SVGID_00000137125556310750985660000010232220773945057952_);
}
.st46 {
  opacity: 0.19;
  fill: #020094;
}
