/* Scrollbar Styles */
.custom-scroll::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Height of the scrollbar (for horizontal scrollbars) */
}
.custom-scroll::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar arrows for WebKit browsers (Chrome, Safari, Edge) */
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #d2d8e5; /* Scrollbar color */
  border-radius: 50px; /* Rounded corners */
}
.custom-scroll::-webkit-scrollbar-track {
  background: #f0f2f7; /* Background of the scrollbar track */
  border-radius: 50px; /* Rounded corners for the track */
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}
/* For Firefox (as of now, customization is limited) */
.custom-scroll {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #d2d8e5 #f0f2f7; /* Thumb color and track color */
}

/* ********************************************************************************************************************** */

/* Swiper Arrows Styles */
.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
}

/* Swiper Pagination Styles */
.custom-swiper-pagination {
  position: absolute;
}
.custom-swiper-pagination .swiper-pagination-bullet {
  background-color: white; /* Bullet color */
  width: 6px; /* Bullet size */
  height: 6px;
  border-radius: 50%; /* Make bullets circular */
  opacity: 0.3; /* Bullet opacity */
  transition: background-color 0.3s, transform 0.3s;
}
.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: white; /* Active bullet color */
  opacity: 0.6; /* Bullet opacity */
  transform: scale(1.2); /* Active bullet size */
}

/* ********************************************************************************************************************** */

/* Input Number Arrows Styles */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* ********************************************************************************************************************** */

/* Flashing Light Styles */
@keyframes flash {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

.flashing-light {
  animation: flash 1.5s infinite ease-in-out;
}

/* ********************************************************************************************************************** */

/* Product Page Carousel Arrows Styles */
.custom-product-carousel-button-prev,
.custom-product-carousel-button-next {
  position: absolute;
  top: 45%; /* Position 50% from the top */
  transform: translateY(-45%); /* Shift them up by half of their height */
}

/* Product Page Carousel Pagination Styles */
.custom-product-carousel-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 10;
  cursor: pointer;
}
.custom-product-carousel-pagination .custom-product-carousel-pagination-bullet {
  background-color: white; /* Bullet color */
  width: 6px; /* Bullet size */
  height: 6px;
  border-radius: 50%; /* Make bullets circular */
  opacity: 0.4; /* Bullet opacity */
  transition: background-color 0.3s, transform 0.3s;
}
.custom-product-carousel-pagination
  .custom-product-carousel-pagination-bullet:hover {
  opacity: 0.7;
}
.custom-product-carousel-pagination
  .custom-product-carousel-pagination-bullet-active {
  width: 20px;
  height: 4px;
  margin: 0 2px;
  border-radius: 20%;
  background-color: white; /* Active bullet color */
  opacity: 0.6; /* Bullet opacity */
  transform: scale(1.2); /* Active bullet size */
}

/* Product Page Carousel Navigation Styles */
.swiper-slide {
  opacity: 0.4;
  transition: opacity 0.3s;
  transform: scale(0.85);
}
.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
.custom-product-carousel-prev:hover ~ * .swiper-slide-prev {
  opacity: 0.7;
}
.custom-product-carousel-next:hover ~ * .swiper-slide-next {
  opacity: 0.7;
}

/* ********************************************************************************************************************** */

/* Container for the filter slider range */
.slider {
  height: 5px;
  position: relative;
}

/* Track (the filled progress section) */
.track {
  height: 5px;
  border-radius: 5px;
}

/* Filled Track (Default Min & Max) */
.track-filled-gray {
  background: #aaa;
}

/* Filled Track (Between Min & Max) */
.track-filled-blue {
  background: #2773b2;
}

/* Empty Track (Before Min & After Max) */
.track-empty {
  background: #ddd;
}

/* Thumb (the draggable handle) */
.thumb {
  width: 15px;
  height: 15px;
  background: #2773b2;
  border-radius: 50%;
  cursor: grab;
  top: -5px;
  position: absolute;
}

/* Thumb (Default Min & Max) */
.thumb-gray {
  background-color: #aaa;
}

/* Thumb (Between Min & Max) */
.thumb-blue {
  background-color: #2773b2;
}
